.App {
  box-sizing: border-box;
}

header {
  height: 1000px;
  width: auto;
  background-color: darkblue;
  z-index: 10;
  position: relative;
  margin: 10%;
}

/* COLOURBLOCK */
.ColourBlock {
  
  border: 2px solid black;
  /* width: 200px; */
  height: 200px;
  background-color: green;
  z-index: 1;
  border-radius: 8px;
  transition: transform 1s ease-in;
}

.ColourBlock:hover {
  transform: translateY(200%);
  /* animation: expand-width 1s ease-in; */
}

/* @keyframes expand-width {
  50% {
    transform: translateY(200%);
  }
  100% {
    width: 1000px;
    height: 1000px;
  }
} */

/* BODYTEXT */
.BodyText {
  position: absolute;
  z-index: 5;
  color: black;
}